*{
  box-sizing: border-box;
}
html, body { margin: 0; padding: 0}

.maincont{
  min-height: 100vh; /* will cover the 100% of viewport */
  min-width: 100vw;
  overflow: hidden;
  display: block;
  padding-bottom: 100px; /* height of your footer */
 }

.tophead{
  height: 20%;
  width: 100%;
  float: left;
  top: 0;
  background: url("assets/bees_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  
}

.headercont{
  width: 35%;
  height: 100%;
  text-align: center;
  line-height:2.5vh;
}

.header{
  height: 50%;
  margin-top: 2%;
}

.headerlinks{
  height: 50%;
  margin-top: 3%;
  margin-bottom: 2%;
}

#name{
  font-size: 2.2vw;
  color: white;
}

#status{
  font-size: 1.5vw;
  color: white;
}

.linkbtn{
  display: inline-block;
  padding-right: 2.5%;
  padding-left: 5%;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.5vh;
  color: whitesmoke;
  background-color: transparent;
  border-radius: 10%;
  border-style: none;
  transition: .2s;
}

.linkbtn:hover {
  display: inline-block;
  transform: scale(1.2);
  text-decoration: underline;
}

hr{
  align-self: center;
  width: 70%;
  size: 10;
}

/* Main body code */

body{
  margin: 0;
  text-align: left;
  color: dimgrey;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
}

.bodycont{
  float: left;
  margin-top: 2%;
  margin-bottom: 10%;
  font-size: 24px;
  margin-right: 2%;
  
}

#intro{
  display: inline-block;
  vertical-align:top;
  width: 78%;
  margin-top: 0%;
  padding-left: 2%;
}

#sideinfo_wrapper{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  height: 100%;
  padding: 1%;
  
}

#sideinfo{
  text-align: center;
  border-right-style: solid;
}

#profilepic{
  padding: 1%;
  margin-bottom: 10%;
  border-radius: 10%;
  width: 80%;
  height: 80%;
}

.logo{
  height: 10%;
  width: 20%;
  transition: transform .2s;
  padding-top: 1%;
  margin-top: 5%;
}
.logo:hover {
  transform: scale(1.5);
}

iframe{
  border: 0;
  height: 1000px;
  width: 80%;
  padding: 0;
  margin-bottom: 5%;
}

footer {
  bottom: 0;
  width: 100%;
  height:0%;
  text-align: center;
  margin-bottom: 0%;
  font-size: 14px;
 }